* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #0593f1;
  background-image: linear-gradient(to top, purple, orange);
  background-repeat: no-repeat;
  height: 100vh;
}
.errors {
  text-align: center;
  font-weight: bold;
  color: red;
}
.success {
  display: block;
  color: green;
  background: #fff;
  margin: 0 auto;
}
.errosdiv {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 30%;
  background: #fff;
  padding: 0.5em;
}
.container {
  display: block;
  margin: 12% 0 0 0;
}
.form-container {
  display: block;
}
.inputs {
  width: 30%;
  display: block;
  margin: 1em auto;
  padding: 1em;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid black;
}
.pw1 {
  border-bottom: 1px solid black;
}
.pw2 {
  border-bottom: 1px solid black;
}
.pw2.red {
  border-bottom: 1px solid red;
}
input::placeholder {
  color: #fff;
}
.btn {
  background: orange;
  box-shadow: 0.5px 0.5px 3px 0.5px black;
  padding: 1em;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  color: #fff;
}
input:hover {
  transform: translateX(1%);
}

.email-options {
  margin: 0 auto;
  display: none;
  text-align: auto;
  color: #6d6666;
}
.email-options-ul {
  background: wheat;
  display: block;
  margin: 0 auto;
  width: 30%;
}
.email-options.block {
  display: block;
}

.email-options-ul li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 1em;
  cursor: pointer;
}
.email-options-ul li :hover {
  background: #232323;
}

.input-warning {
  display: block;
  margin: 0 auto;
  text-align: center;
}
