<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="" class="form-container">
            <input placeholder="E-mail"  type="text" class="inputs" name="email" value="">
            <input placeholder="Password"  type="password" class="inputs" name="password" value="">
            <button class="btn"> SUBMIT </button>
        </form>
    </div>
</body>
</html>
